:root {
  --azul-escuro: #0a0b14;
  --branco: #fff;
  --cinza: #9f9f9f;
}

/* Adiciona a rolagem suave */
html {
  scroll-behavior: smooth;
}

/* Inicialmente esconde o conteúdo */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Classe para mostrar o conteúdo */
.fade-in.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Animação da direita para a esquerda */
.fade-in-right {
  transform: translateX(100%);
}

/* Animação da esquerda para a direita */
.fade-in-left {
  transform: translateX(-100%);
}


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: 0.1s linear;
}

body {
  background-color: var(--azul-escuro);
}

html {
  font-size: 50%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;

  
}

/* INICIO SEÇÃO SOBRE */
.heading {
  text-align: center;
  font-size: 4rem;
  color: var(--branco);
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 255, 255, 0.062);
}

.heading span {
  color: #3386df;
}

/* INICIO SEÇÃO SERVIÇO */



.heading-servico {
  text-align: center;
  font-size: 4rem;
  color: var(--branco);
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(28, 28, 28, 0.815);
}

.heading-servico span {
  color: #3386df;
}


/* INICIO BOTÃO BANNER SABER MAIS */
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color:rgb(105, 105, 105);
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.home .content a {
  color: #ffffff;
}

.btn:hover {
  background: rgb(58, 109, 240);
  transform: scale(0.1s);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--azul-escuro);
  padding: 1rem 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem blue;
}

.logo a img {
  width: 230px; /* Ajuste o tamanho conforme necessário */
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #9f9f9f;
}

header .navbar a:hover {
  color: var(--branco);
}

header .navbar a.btn-contato {
  background-color: var(--azul-escuro);
  color: var(--branco);
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.8rem;
  font-weight: 500;
  border: 0.2rem solid var(--branco);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

header .navbar a.btn-contato:hover {
  background-color: rgb(3, 216, 3);
  transform: scale(1.03);
}

header .icons a {
  font-size: 3rem;
  margin-right: 1.5rem;
  color: var(--cinza);
}

header .icons a:hover {
  color: var(--branco);
}

header .fa-bars {
  font-size: 4rem;
  color: var(--cinza);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  display: none;
}

.header .fa-bars {
  background-color: var(--azul-escuro);
  color: var(--branco);
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.8rem;
  font-weight: 500;
  border: 0.2rem solid var(--branco);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

header .fa-bars:hover {
  transform: scale(1.03);
  color: rgb(255, 255, 255);
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../images/slide/banner-top.png);
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 100rem;
}

.home .content h3 {
  font-size: 6rem;
  color: rgb(255, 255, 255);
}

.home .content span {
  font-size: 3.5rem;
  color: rgb(251, 251, 251);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: rgb(209, 209, 209);
  padding: 1rem 0;
  line-height: 1.5;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-list li {
  letter-spacing: 0px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;
  transition: 0.3s;
}


/* COUNT UP ANIMATION */

.wrapper {
  position: absolute;
  width: 80vw;
  transform: translate(-50%, -50%);
  top: 75rem;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.wrapper .container {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: var(--azul-escuro);
  border-bottom: 8px solid rgb(0, 0, 255);
  box-shadow: 0 0.5rem 3rem blue;
}

span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

span.text {
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

.sobre {
  height: 750px;

  
}

.servico {
  background-color: #fff;
}

.wrapper-servico {
  display: flex;
  justify-content: center;
  align-items: center;

}


 .content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 40px;
  
}

.card {
  min-height: 220px;
  width: 320px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--azul-escuro);
  margin: 10px 4px;
  border-bottom: 8px solid rgb(0, 0, 255);
  box-shadow: 0 0.5rem 3rem blue;
}

.card i {
  font-size: 35px;
  margin: 20px;
  color: rgb(175, 175, 175);
}

.card h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 400;
  text-align: center;
}

.card p {
  font-size: 12px;
  color: var(--cinza);
  text-align: center;
}


/* CONTATO */

.contato {
  text-align: center; /* Centraliza o texto dentro da seção */
}


.heading-contato {
  text-align: center;
  font-size: 4rem;
  color: var(--branco);
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(28, 28, 28, 0.815);
}

/* MAPA */

.contato p {
  font-size: 18px;
  color: #ffffff;
  align-items: center;

}

.maps-container {
  width: 100%; /* O mapa ocupa toda a largura disponível */
  height: 450px; /* Mantém a altura fixa conforme necessário */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse as bordas */
}

.maps-container iframe {
  width: 100%; /* Garante que o iframe ocupe toda a largura disponível */
  height: 100%; /* Ocupa toda a altura disponível */
  border: 0; /* Remove a borda padrão do iframe */
}



.popup {
  display: none; /* Oculto por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  max-width: 400px;
  margin: auto;
}

.close-btn {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 26px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

.popup h2 {
  font-size: 25px;
}

.popup p {
  font-size: 15px;
}





.footer-logo {
  padding-top: 30px;
}

.footer-logo img {
  width: 170px; /* Define a largura desejada da logo */
  height: auto; /* Mantém a proporção original da imagem */

}


.footer-contact {
  background-color: var(--azul-escuro);
  padding: 2rem 0;
  text-align: center;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto; /* Centraliza o bloco de informações de contato */
}

.contact-info p {
  font-size: 15px;
  margin-bottom: 1rem;
}

.footer-bottom{
  text-align: center;
  padding-top: 2rem;
}

.footer-bottom p{
  font-size: 13px;
  text-align: center;
  padding-top: 2rem;
}

.footer-bottom p1{
  color: #9f9f9f;
  font-size: 12px;
  text-align: center;
}






/* RESPONSIVIDADE */

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .home {
    background: url(../images/slide/banner-top-mobile.png);
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;

  }

  .heading {
    font-size: 3rem;
  }

  .heading-servico {
    font-size: 3rem;
  }

  .heading-contato {
    font-size: 3rem;
  }

  .contato {
    height: 650px;
  }

  .sobre {
    height: 1050px;
  }

  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    max-width: 350px;
    margin: auto;
  }

  .close-btn {
    position: absolute;
    font-size: 28px;

  }

  .popup h2 {
    font-size: 20px;
  }
  
  .popup p {
    font-size: 15px;
  }



  .home .content h3 {
    font-size: 6rem;
    color: rgb(255, 255, 255);
    line-height: 1;
  }

  .home .content span {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    line-height: 1.5;
  }

  .nav-list {
    position: absolute;
    top: auto;
    margin-top: 40px;
    left: 0;
    width: 50vw;
    height: 92vh;
    background: var(--azul-escuro);
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
    padding: 1rem;
    margin-top: 3rem;
  }

  .mobile-menu {
    display: block;
  }

  header .icons a {
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color: var(--cinza);
  }
}

.logo a img {
  width: 180px; /* Ajuste o tamanho conforme necessário */
  
}




.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}



.sobre .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.sobre .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}

.sobre .row .video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 60%;
}

.sobre .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: #bbbbbb;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.sobre .row .content {
  flex: 1 1 40rem;
}

.sobre .row .content h3 {
  font-size: 3rem;
  color: #e0e0e0;
}

.sobre .row .content p {
  font-size: 1.5rem;
  color: #b6b6b6;
  padding: 5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}



/* COUNT UP ANIMATION MOBILE */

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
    top: 100rem;
  }
  .container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }

}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }

  


  span.text {
    font-size: 2rem;
  }

  .container {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    gap: 15px;
  }
  .wrapper .container {
    width: 95%;
    height: 25vmin;
    font-size: 8px;
  }
}

